<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TN Admin Dashboard</title>
    <link rel="stylesheet" href="admin_css.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_css.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class="dashboard">
        <header class="header">
            <h1>TN Admin Dashboard</h1>
            <div class="admin-info">
                <form action="/logout" method="post">
                    <button class="btn btn-danger">Log Out</button>
                </form>
            </div>
        </header>

        <main>
            <div class="dashboard-cards">
                <div class="card">
                    <h2>Total Users</h2>
                    <p id="user-count">100</p>
                </div>
                <div class="card">
                    <h2>Total Jobs</h2>
                    <p id="job-count">50</p>
                </div>
                </div>
            <section class="users-section">
                <div class="section-header">
                    <h2>Recruiters List</h2>
                    <div class="filters">
                        <form action="/search_user"></form>
                        <input type="text" name="search_users" id="reportSearch" placeholder="Search users..." class="search-input">  
                        <button type="submit" class="search_user btn"><ion-icon  name="search-outline"></ion-icon></button>
                    </div>
                </div>
                <div class="table-container">
                    <table id="usersTable">
                        <thead>
                            <tr>
                                <th data-sort="name">Recruiter Name ↕</th>
                                <th data-sort="date">Date of creation ↕</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for users in all_recruiters:%}
                            <tr>
                            <td>{{users.posted_by.first_name}} {{users.posted_by.last_name}}</td>
                            <td>{{users.created_at}}</td>
                            <td>
                                <form action="/delete/{{users.id}}" method="post"><button class="btn btn-danger" >DELETE</button></form></td>
                        </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="users-section">
                <div class="section-header">
                    <h2>Freelancers List</h2>
                    <div class="filters">
                        <form action="/search_user"></form>
                        <input type="text" name="search_users" id="reportSearch" placeholder="Search users..." class="search-input">  
                        <button type="submit" class="search_user btn"><ion-icon  name="search-outline"></ion-icon></button>
                    </div>
                </div>
                <div class="table-container">
                    <table id="usersTable">
                        <thead>
                            <tr>
                                <th data-sort="name">Name ↕</th>
                                <th data-sort="date">Date of creation ↕</th>
                                <th data-sort="rating">Rating ↕</th>
                                <th>Badge</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for freelancer in all_freelancers:%}
                            <tr>
                            <td>{{freelancer.posted_by.first_name}} {{freelancer.posted_by.last_name}}</td>
                            <td>{{freelancer.created_at}}</td>
                            <td></td>
                            <td><img src="{{ url_for('static', filename='img/'+freelancer.badges) }}"></td>
                            <td class="d-flex">
                                <form action="/delete/{{freelancer.id}}" method="post"><button class="btn btn-danger" >DELETE</button></form>
                            <form action="/admin/add_badges/{{freelancer.id}}"><button class="btn btn-primary" >Add Badge</button></form></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="reports-section">
                <div class="section-header">
                    <h2>Job Offers</h2>
                    <div class="filters">
                        <form action="/search_offers"></form>
                        <input type="text" name="search_offers" id="reportSearch" placeholder="Search offers..." class="search-input">
                        <button type="submit" class="search_offers btn"><ion-icon  name="search-outline"></ion-icon></button>                    
                    </div>
                </div>
                <div class="table-container">
                    <table id="reportsTable">
                        <thead>
                            <tr>
                                <th data-sort="title">Job Title</th>
                                <th data-sort="created_at">Date of creation ↕</th>
                                <th data-sort="deadline">Deadline ↕</th>
                                <th data-sort="budget">Budget</th>
                                <th data-sort="category">Category</th>
                                <th data-sort="recruiter_id">Recruiter ID</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in all_jobs:%}
                            <tr>
                                <td>{{job.title}}</td>
                                <td>{{job.created_at}}</td>
                                <td>{{job.deadline}}</td>
                                <td>{{job.budget}}</td>
                                <td>{{job.category}}</td>
                                <td>{{job.recruiter_id}}</td>
                                <td><form action="/delete_job/{{job.id}}" method="post">
                                    <button class="btn btn-danger" >Delete</button>
                                </form></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="reports-section">
                <div class="section-header">
                    <h2>Reports</h2>
                    <div class="filters">
                        <form action="/search_reports"></form>
                        <input type="text" name="search_reports" id="reportSearch" placeholder="Search reports..." class="search-input">
                        <button type="submit" class="search_reports btn"><ion-icon  name="search-outline"></ion-icon></button>                   
                    </div>
                </div>
                <div class="table-container">
                    <table id="reportsTable">
                        <thead>
                            <tr>
                                <th data-sort="date">Date of creation ↕</th>
                                <th data-sort="reporter">Reporter id</th>
                                <th data-sort="reported">Reported User id</th>
                                <th data-sort="type">Reason</th>
                                <th data-sort="type">Message</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in all_reports:%}
                            <tr>
                                <td>{{report.created_at}}</td>
                                <td>{{report.sender_id}}</td>
                                <td>{{report.reported_id}}</td>
                                <td>{{report.reason}}</td>
                                <td>{{report.message}}</td>
                                <td><form action="" method="post">
                                    <button class="btn btn-danger" >Delete</button>
                                </form></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            
            </div>
        </div>
        </main>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
