<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recruiter_profile.css') }}">
</head>
<body>
  <nav class="navbar " >
      <div>
          <img class="logoimg" src="{{ url_for('static', filename='img/logo.png') }}">
      </div>
      <div class="d-flex">
          <ul>
              <li class="nav-item btn "  ><h6><a href="/home">Home</a></h6></li>
              <li class="nav-item btn"><h6><a href="">Top Talents</a></h6></li>
              <li class="nav-item btn"><h6><a href="">Top Recruiters</a></h6></li>
              <li class="nav-item btn"><h6><a href="">Job Offers</a></h6></li>
              <li class="nav-item btn"><h6><a href="">My Profile</a></h6></li>
              <li ><form action="/logout" method="post">
                  <button class="btn btn-danger"><h6>Log Out</h6></button>
              </form></li>
          </ul>
      </div>
  </nav>
<div class="container">
    <div class="main-body">
      <div >
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                      <p class="text-secondary mb-1">Company Name: {{recruiter.company_name}}</p>
                      <hr>
                      <div class="row">
                        <div class="col-sm-12">
                          {%if user.account_type == 0%}
                          <form action="/recruiter/edit/{{recruiter.id}}">
                            <button type="submit" class="btn btn-info">Edit</button></form>
                          {% endif %}
                          {%if user.account_type == 3%}
                          <form action="/admin/add_badges/{{recruiter.id}}" method="post">
                            <button type="submit" class="btn btn-info">Add Badge</button></form>
                          {% endif %}
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">About Me</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <p> {{recruiter.about_me}} </p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">First Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <p>{{user.first_name}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Last Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <p>{{user.last_name}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <p>{{user.email}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <p>{{recruiter.phone}}</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>